<p id="notice"><%= notice %></p>

<p>
  <strong>Fio:</strong>
  <%= @franchise_request.fio %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @franchise_request.contact_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @franchise_request.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @franchise_request.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @franchise_request.about %>
</p>

<p>
  <strong>Employe phone:</strong>
  <%= @franchise_request.employe_phone %>
</p>

<p>
  <strong>Employe status:</strong>
  <%= @franchise_request.employe_status %>
</p>

<p>
  <strong>First payment:</strong>
  <%= @franchise_request.first_payment %>
</p>

<p>
  <strong>Total payment:</strong>
  <%= @franchise_request.total_payment %>
</p>

<%= link_to 'Edit', edit_franchise_request_path(@franchise_request) %> |
<%= link_to 'Back', franchise_requests_path %>
